a {
  background-color: #222;
  opacity: 0.85;
  color: #FFF !important;
  display: block;
  padding: 10px 15px;
  border: 1px solid #CCC;
  cursor: pointer;
  text-align: center;

  &:first-child {
    border-top-left-radius: 5px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
