.song-footer {
  position: fixed;
  font-size: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: #3D4C57;
  color: #FFF;
  text-align: center;
}

.font-size {
  position: absolute;
  right: 10px;
  font-size: 14px;
  bottom: 7px;
}

.key {
  color: #B0CDE2;
}

.menu-button {
  color: #B0CDE2;
  cursor: pointer;
  position: absolute;
  right: 5px;
  font-size: 14px;
  bottom: 2px;
  padding: 5px 10px;

  &:hover {
    color: #FFF;
  }
}
