<div class="song-footer">
  <span>{{ title | titlecase }}</span>
  <ng-container *ngIf="key && showChords">
    <span class="key"> in {{ key }}</span>
  </ng-container>
  <ng-container *ngIf="fontSize">
    <ng-container *ngIf="hideStuff === false">
      <span class="font-size">font {{ fontSize }}</span>
    </ng-container>
    <ng-container *ngIf="hideStuff === true">
      <div class="menu-button" (click)="onUnhide()">
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
      </div>
    </ng-container>
  </ng-container>
</div>
