<ng-container *ngIf="songs">

  <div class="song-list animated fadeIn">

    <table class="table">
      <thead class="thead-blue">
      <tr>
        <th scope="col">Key</th>
        <th scope="col">Diff</th>
        <th scope="col">Title</th>
        <th scope="col">YouTube</th>
        <th scope="col">Labels</th>
      </tr>
      </thead>
      <tbody>
      <ng-container *ngFor="let song of songs">

        <ng-container *ngIf="!song.errors">
          <tr>
            <td>
              {{ song.key }} <span *ngIf="song.key === song.origBaseChord" class="badge badge-secondary">default</span>
            </td>
            <td>
              {{ song.transpose[song.key].score | number: '1.2-2' }}
            </td>
            <td>
              <a [routerLink]="'/song/' + song.id">
                <span>{{ song.title }}</span>
              </a>
            </td>
            <td>
              <ng-container *ngIf="song.youTube">
                <div class="you-tube-link" [routerLink]="'/youtube/' + song.id">
                  <i class="fa fa-youtube-square fa-2x" aria-hidden="true"></i>
                </div>
              </ng-container>
            </td>
            <td>
              <ng-container *ngFor="let label of song.labels">
              <span class="label">
                <i class="fa fa-lg {{ label }}" aria-hidden="true"></i>
              </span>
              </ng-container>
            </td>
          </tr>
        </ng-container>

        <ng-container *ngIf="song.errors">
          <tr>
            <td></td>
            <td></td>
            <td>
              <a [routerLink]="'/song-error/' + song.id">
                <span class="song-error">{{ song.title }}</span>
              </a>
            </td>
            <td></td>
          </tr>
        </ng-container>

      </ng-container>
      </tbody>
    </table>

  </div>

</ng-container>
