.song-list {

  width: 40%;
  margin: 20px auto;

  .thead-blue {
    background-color: #3D4C57;
    color: #FFF;
  }

  .badge {
    position: relative;
    left: 5px;
    top: -1px;
    background-color: #CCC;
  }

  a {
    font-size: 18px;
  }

  .label {
    color: #0055B3;
    opacity: 0.75;
  }

  .song-error {
    text-decoration: line-through;
  }
}
