@import '../../shared/links/anchors';
@import '../../../globals';

.chords {
  color: darken(#F77000, 20%);
  font-family: monospace;
}

.lyrics {
  margin-top: -5px;
  color: darken(#376C9F, 10%);
  font-family: monospace;
}

pre {
  margin: 0;
  overflow-x: hidden;
}

.song-wrapper-scroll {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: ($footerHeight + 20) + unquote("px");

  .chunk {
    padding: 10px 100px 15px;
    margin-left: -100px;
    margin-right: -100px;
    border-bottom: 1px solid #EEE;
  }

  .chunk.verse {
    // background-color: yellow;
  }

  .chunk.chorus {
    background-color: #fafafa;
  }

  .chunk.bridge {
    background-color: #fafafa;
    // background-color: lighten(#B0CDE3, 10%);
  }

  .chunk-badge {
    margin-top: -23px;
    margin-right: 75px;
    float: right;
    background-color: #666;
    font-size: 15px;
    color: #FFF;
    padding: 0 5px 2px;
    border-radius: 5px;
  }
}

.song-wrapper-slides {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;

  .direction {
    position: absolute;
    top: 40%;
    cursor: pointer;
    color: darken(#B0CDE2, 10%);
  }

  .direction:hover {
    color: #B0CDE2;
  }


  .direction.disabled {
    color: #999;
    cursor: not-allowed;
  }

  .left {
    left: 20px;
  }

  .right {
    right: 20px;
  }

  .chunk-wrapper {
    text-align: center;
  }

  .chunk {
    max-width: 90%;
    margin-top: 2vh;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    text-align: left;
    border: 1px solid #CCC;
  }

  .chunk-inner {
    max-height: 45vh;
    overflow: hidden;
  }

  .chunk-selectors {
    position: absolute;
    bottom: ($footerHeight + 20) + unquote("px");
    left: 30%;
    cursor: pointer;
    width: 25%;
  }

  .chunk-selectors-1 {
    left: 23%;
  }

  .chunk-selectors-2 {
    left: 52%;
  }

  .chunk-selector {
    padding-right: 20px;
  }

  .chunk-selector:nth-child(even) {
    background-color: #EEE;
  }

  .chunk-selector:nth-child(odd) {
    background-color: #DDD;
  }

  .chunk-selector:hover {
    background-color: #555;
    color: #FFF;
  }

  .chunk-selector.active {
    background-color: #B0CDE2;
    color: #000;
  }

  .chunk-type, .chunk-taster {
    display: inline-block;
  }

  .chunk-type {
    width: 100px;
    padding: 10px;
    margin-right: 10px;
    background-color: #555;
    color: #FFF;
  }
}
