.links {
  position:fixed;
  right: 0;
  bottom: 0;

  a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #CEC5B4;
    color: #000;
    display: block;
    padding: 10px;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.bible-verse {
  position: fixed;
  background-color: #3D4C57;
  font-size: 24px;
  padding: 10px 45px;
  min-height: 56px;
  color: #FFF;
  top: 0;
  width: 100%;
}

.song-title {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3D4C57;
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -200px;
  text-align: center;
}

.song-wrapper {
  margin-top: 70px;
  padding-left: 90px;
  padding-right: 90px;
}

.chords {
  color: rebeccapurple;
  font-size: 20px;
  font-family: monospace;
}

.lyrics {
  margin-top: -5px;
  color: blue;
  font-size: 20px;
  font-family: monospace;
}

.chunk {
  padding: 10px 100px;
  margin-left: -100px;
  margin-right: -100px;
}

.chunk.chorus {
  background-color: #EEE;
}

pre {
  margin: 0;
}
