<div class="links">

  <ng-container *ngIf="mode !== 'scroll'"><a (click)="setMode('scroll')">Scroll</a></ng-container>
  <ng-container *ngIf="mode !== 'next'"><a (click)="setMode('next')">Next</a></ng-container>
  <a [routerLink]="'/youtube/' + song.id">You Tube</a>
  <a routerLink="/list">Song List</a>
</div>

<div class="song-title">{{ song.title }}</div>

<div class="bible-verse">{{ bible }}</div>

<ng-container *ngIf="mode === 'scroll'">
  <div class="song-wrapper-scroll">
    <ng-container *ngFor="let chunk of chunks">
      <div class="chunk" [ngClass]="chunk.type">
        <ng-container *ngFor="let line of chunk.lines">
          <div class="line">
            <pre class="chords">{{ line.chords }}</pre>
            <pre class="lyrics">{{ line.lyrics }}</pre>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="mode === 'next'">
  <div class="song-wrapper-next">
    <table>
      <tr>
        <td class="left direction" (click)="prev()" [ngClass]="{disabled: chunkNo === 0}">
          <i class="fa fa-chevron-circle-left fa-3x" aria-hidden="true"></i>
        </td>
        <td class="middle">
          <div class="chunk" [ngClass]="chunks[chunkNo].type">
            <ng-container *ngFor="let line of chunks[chunkNo].lines">
              <div class="line">
                <pre class="chords">{{ line.chords }}</pre>
                <pre class="lyrics">{{ line.lyrics }}</pre>
              </div>
            </ng-container>
          </div>
        </td>
        <td class="right direction" (click)="next()" [ngClass]="{disabled: chunkNo === chunks.length - 1}">
          <i class="fa fa-chevron-circle-right fa-3x" aria-hidden="true"></i>
        </td>
      </tr>
    </table>
    <div class="chunk-selectors">
      <ng-container *ngFor="let chunk of chunks; index as i">
        <div class="chunk-selector" (click)="setChunk(i)" [ngClass]="{active: i === chunkNo}">
          <div class="chunk-type">{{ chunk.type }}</div>
          <div class="chunk-taster">{{ chunk.lines[0].lyrics | excerpt }}</div>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
