.links {
  position:fixed;
  right: 0;
  bottom: 0;

  a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #CEC5B4;
    color: #000;
    display: block;
    padding: 10px;
    margin-bottom: 7px;
    cursor: pointer;
    user-select: none;

    &:last-child {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.bible-verse {
  position: fixed;
  background-color: #3D4C57;
  font-size: 24px;
  padding: 10px 45px;
  min-height: 56px;
  color: #FFF;
  top: 0;
  width: 100%;
}

.song-title {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3D4C57;
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -200px;
  text-align: center;
}

.chords {
  color: rebeccapurple;
  font-size: 20px;
  font-family: monospace;
}

.lyrics {
  margin-top: -5px;
  color: blue;
  font-size: 20px;
  font-family: monospace;
}

pre {
  margin: 0;
}

.song-wrapper-scroll {
  margin-top: 70px;
  padding-left: 90px;
  padding-right: 90px;

  .chunk {
    padding: 10px 100px;
    margin-left: -100px;
    margin-right: -100px;
  }

  .chunk.chorus {
    background-color: #EEE;
  }
}

.song-wrapper-next {
  margin-top: 100px;
  padding-left: 90px;
  padding-right: 90px;

  table {
    table-layout: fixed;
    width: 100%;

    .left {
      border-top-left-radius: 7px;
      border-bottom-left-radius: 7px;
    }

    .right {
      border-top-right-radius: 7px;
      border-bottom-right-radius: 7px;
    }

    .direction {
      background-color: darken(#B0CDE2, 10%);
      width: 4%;
      text-align: center;
      cursor: pointer;
      color: #FFF;
    }

    .direction:hover {
      background-color: #B0CDE2;
    }

    .direction.disabled {
      background-color: #999;
      cursor: not-allowed;
    }

    .middle {
      width: 92%;
    }
  }

  .chunk {
    padding: 10px 30px;
  }

  .chunk-selectors {
    position: absolute;
    bottom: 64px;
    left: 30%;
    user-select: none;
    cursor: pointer;
    width: 40%;
  }

  .chunk-selector:nth-child(even) {
    background-color: #FFF;
  }

  .chunk-selector:nth-child(odd) {
    background-color: #EEE;
  }

  .chunk-selector:hover {
    background-color: #DDD;
  }

  .chunk-selector.active {
    background-color: #B0CDE2;
  }

  .chunk-type, .chunk-taster {
    display: inline-block;
  }

  .chunk-type {
    width: 100px;
    padding: 10px;
    margin-right: 10px;
    background-color: #555;
    color: #FFF;
  }
}
