<div class="links">
  <a [routerLink]="'/youtube/' + song.id">You Tube</a>
  <a routerLink="/list">Song List</a>
</div>

<div class="song-title">{{ song.title }}</div>

<div class="bible-verse">{{ bible }}</div>

<div class="song-wrapper">
  <ng-container *ngFor="let chunk of chunks">
    <div class="chunk" [ngClass]="chunk.type">
      <ng-container *ngFor="let line of chunk.lines">
        <div class="line">
          <pre class="chords">{{ line.chords }}</pre>
          <pre class="lyrics">{{ line.lyrics }}</pre>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
