<div class="links">
  <a [routerLink]="'/youtube/' + song.id">You Tube</a>
  <a routerLink="/list">Song List</a>
</div>

<div class="song-title">{{ song.title }}</div>

<div class="bible-verse">{{ bible }}</div>

<div class="song-wrapper">
  <ng-container *ngFor="let line of lines; index as i">
    <div class="line" [ngClass]="line.type + ' ' + (lines[i + 1]?.type !== line.type ? line.type + '-end end' : '')">
      <pre class="chords">{{ line.chords }}</pre>
      <pre class="lyrics">{{ line.lyrics }}</pre>
    </div>
  </ng-container>
</div>
