<div class="guitar-neck-wrapper">
  <div class="guitar-neck-outer">
    <div class="guitar-neck-inner">
      <table>
        <tr class="one">
          <td>
            <div class="key-badge" [class.active]="key === 'A'" (click)="setKey('A')">A</div>
          </td>
          <td>
            <div class="key-badge" [class.active]="key === 'A#'" (click)="setKey('A#')">A#</div>
          </td>
          <td>
            <div class="key-badge" [class.active]="key === 'B'" (click)="setKey('B')">B</div>
          </td>
          <td>
            <div class="key-badge" [class.active]="key === 'C'" (click)="setKey('C')">C</div>
          </td>
          <td>
            <div class="key-badge" [class.active]="key === 'C#'" (click)="setKey('C#')">C#</div>
          </td>
          <td>
            <div class="key-badge" [class.active]="key === 'D'" (click)="setKey('D')">D</div>
          </td>
          <td>
            <div class="key-badge invisible">&nbsp;</div>
          </td>
        </tr>
        <tr class="two">
          <td>
            <div class="key-badge" [class.active]="key === 'D#'" (click)="setKey('D#')">D#</div>
          </td>
          <td>
            <div class="key-badge" [class.active]="key === 'E'" (click)="setKey('E')">E</div>
          </td>
          <td>
            <div class="key-badge" [class.active]="key === 'F'" (click)="setKey('F')">F</div>
          </td>
          <td>
            <div class="key-badge" [class.active]="key === 'F#'" (click)="setKey('F#')">F#</div>
          </td>
          <td>
            <div class="key-badge" [class.active]="key === 'G'" (click)="setKey('G')">G</div>
          </td>
          <td>
            <div class="key-badge" [class.active]="key === 'G#'" (click)="setKey('G#')">G#</div>
          </td>
          <td>
            <div class="key-badge invisible">&nbsp;</div>
          </td>
        </tr>
      </table>
    </div>
    <div class="guitar-neck-controls">
      <div class="flex-grid">
        <div class="col"><span title="Difficulty">{{ diff | number: '1.2-2' }}</span></div>
        <div class="col button" (click)="onEasy()">Easy</div>
        <div class="col button" (click)="onDefault()">Default</div>
        <div class="col button" (click)="onCancel()">Cancel</div>
        <div class="col button" (click)="onOk()">OK</div>
      </div>
    </div>
  </div>
</div>
