<app-bible-verse [bible]="song.bible"></app-bible-verse>

<div class="links">
  <a [routerLink]="'/song/' + song.id">Song</a>
  <a routerLink="/list">Song List</a>
</div>

<div class="you-tube-wrapper">
  <!--suppress HtmlDeprecatedAttribute -->
  <iframe width="800" height="450" [src]="'https://www.youtube.com/embed/' + song.youTube | safe" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<app-song-footer [title]="song.title"></app-song-footer>
