.you-tube-wrapper {
  margin-top: 100px;
  text-align: center;
}

.bible-verse {
  background-color: #3D4C57;
  font-size: 24px;
  padding: 10px 45px;
  margin-bottom: 10px;
  min-height: 56px;
  color: #FFF;
}

.links {
  position:fixed;
  right: 0;
  bottom: 0;

  a {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #CEC5B4;
    color: #000;
    display: block;
    padding: 10px;
    margin-bottom: 7px;

    &:last-child {
      margin-bottom: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.song-title {
  position: fixed;
  bottom: 0;
  left: 50%;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3D4C57;
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  margin-left: -200px;
  text-align: center;
}
