body {
  overflow-x: hidden;
  overflow-y: scroll;
  user-select: none;
  min-width: 780px; // best for 800px
}

body::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #DDD;
}

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

$chordMarginSize: 5px;

.chord {
  padding-left: $chordMarginSize;
  padding-right: $chordMarginSize;
  margin-left: -$chordMarginSize;
  margin-right: -$chordMarginSize;
  border-radius: 5px;
  background-color: lighten(#3D4C57, 20%);
  color: #FFF;
}

.transpose-modal .modal-content {
  background-color: transparent;
  border: none;
}

// https://css-tricks.com/dont-overthink-flexbox-grids/

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}
